.link {

    justify-content: flex-end;
}

body {
    background-color: gray;
   
}

.navbar {
    background-color: orange;
}

.main {
    background-image: url(../images/hero-image.jpg);
height: 500px;
position: relative;

}

.header {
    background-color: white;
    position: absolute;   /* Position relative to the parent */
    left: 50%;            /* Center horizontally */
    bottom: 0;            /* Align to the bottom */
    transform: translateX(-50%); /* Corrects the offset from left 50% */
}
